workflows/neura_meeting_agent_v2_live_m365.json
{
  "name": "NEURA Meeting Agent v2 — Live M365",
  "nodes": [
    {
      "parameters": {
        "content": "## 🤖 NEURA Meeting Intelligence\n**Click ▶ Execute Workflow**\n\n**Flow:**\n1. GPT-4o reads transcript\n2. Extracts actions, blockers, decisions\n3. Drafts all emails + meeting invite\n4. Sends YOU a review email\n5. You approve or reject\n6. Everything executes automatically\n\n✅ Nothing leaves without human approval",
        "height": 300,
        "width": 320,
        "color": 4
      },
      "id": "sticky-001",
      "name": "Intro",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 60]
    },
    {
      "parameters": {
        "content": "## 👤 Human-in-the-Loop\nEvery run requires approval.\n\nAgent sends a review email\nshowing ALL draft emails and\nthe calendar invite before\nanything is sent.\n\nApprove → everything fires\nReject → nothing goes out",
        "height": 200,
        "width": 240,
        "color": 3
      },
      "id": "sticky-002",
      "name": "HITL Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1480, 60]
    },
    {
      "parameters": {},
      "id": "trigger-001",
      "name": "Run Demo",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [460, 220]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "neura-demo-trigger",
        "responseMode": "onReceived",
        "options": {
          "responseData": "noData",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "webhook-trigger-001",
      "name": "Web Demo Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [460, 380],
      "webhookId": "neura-demo-trigger"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    meeting_title: 'Robot Arm Integration Sync Sprint Review',\n    meeting_date: '2026-06-01',\n    organizer: { name: 'Maria Schmidt', email: 'maria.schmidt@neura-robotics.com' },\n    attendees: [\n      { name: 'Maria Schmidt', email: 'maria.schmidt@neura-robotics.com', is_external: false },\n      { name: 'Felix Wagner',  email: 'felix.wagner@neura-robotics.com',  is_external: false },\n      { name: 'Jonas Mueller', email: 'jonas.mueller@neura-robotics.com', is_external: false },\n      { name: 'Thomas Becker', email: 'thomas.becker@bosch.com', is_external: true, company: 'Bosch' }\n    ],\n    transcript: `Maria Schmidt: Good morning everyone. Sprint review, then integration issues. Felix firmware status?\\n\\nFelix Wagner: 85% done. Main blocker is the same IMU sensor calibration issue from last sprint. The drift is affecting precision targeting by 2.3 millimetres. I need the updated calibration constants from Jonas by Thursday.\\n\\nJonas Mueller: I can get them to you Wednesday. I have the root cause, temperature coefficient issue in the MEMS sensor. I will send the constants and a test protocol.\\n\\nMaria Schmidt: Good. Thomas, your team was supposed to deliver the integration API documentation two weeks ago. We have now been blocked twice waiting on this. When can we actually commit?\\n\\nThomas Becker: I understand the frustration. We had internal re-scoping at Bosch. I personally commit to delivering full API documentation by June 6th. I will also run a technical walkthrough call that same week.\\n\\nMaria Schmidt: That is the third time the API docs have slipped, Thomas. Felix, once you have the docs, how long to complete integration?\\n\\nFelix Wagner: If I have the docs by June 6th, integration testing is done by June 14th. But I also need the hardware interface specs, not just the software API.\\n\\nThomas Becker: Hardware specs are ready now. I will send them today before end of day.\\n\\nMaria Schmidt: Jonas, can you also investigate the power consumption regression in build 2.4? The arm is drawing 340W at peak versus our 280W target.\\n\\nJonas Mueller: Yes. I suspect the servo controller update in the last build. I will have initial findings by Friday.\\n\\nMaria Schmidt: Let us schedule a follow-up integration review for June 13th, one week after Thomas delivers. Thomas must be on that call. Agreed?\\n\\nAll: Agreed.\\n\\nMaria Schmidt: Good. Felix and Jonas, I am counting on you. Thomas, no more slippage. That is all.`\n  }\n}];"
      },
      "id": "sample-001",
      "name": "Sample Meeting Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyse this meeting and take all necessary actions using your tools.\n\nMeeting: {{ $json.meeting_title }}\nDate: {{ $json.meeting_date }}\nOrganizer: {{ $json.organizer.name }} <{{ $json.organizer.email }}>\n\nAttendees:\n{{ $json.attendees.map(a => '- ' + a.name + ' <' + a.email + '>' + (a.is_external ? ' [EXTERNAL ' + a.company + ']' : ' [Internal]')).join('\\n') }}\n\nFull Transcript:\n{{ $json.transcript }}\n\nSteps you MUST complete:\n1. Call check_blocker_history for each blocker mentioned\n2. Call send_action_email once per unique action item owner\n3. Call schedule_followup_meeting if a follow-up was agreed\n4. Return ONLY the final JSON object",
        "options": {
          "systemMessage": "=You are the NEURA Robotics AI Meeting Agent.\n\nYou have three tools:\n- check_blocker_history: call for every blocker mentioned\n- schedule_followup_meeting: call if a follow-up was agreed. Pass: title, start_datetime (ISO e.g. 2026-06-13T09:00:00), end_datetime (ISO e.g. 2026-06-13T10:00:00), agenda\n- send_action_email: call once per unique owner. Pass: recipient_name, recipient_email, task, deadline, priority, meeting_title, follow_up_date, depends_on\n\nAfter tools, return ONLY raw JSON:\n{\n  \"meeting_summary\": \"2-3 sentence summary\",\n  \"action_items\": [\n    { \"task\": \"description\", \"owner_name\": \"name\", \"owner_email\": \"email\", \"deadline\": \"YYYY-MM-DD\", \"priority\": \"critical|high|medium|low\", \"depends_on\": \"dependency or null\" }\n  ],\n  \"decisions\": [\"decision\"],\n  \"blockers\": [{ \"description\": \"blocker\", \"owner\": \"owner\", \"is_recurring\": true, \"occurrences\": 3 }],\n  \"follow_up_meeting\": { \"title\": \"title\", \"date\": \"YYYY-MM-DD\", \"time\": \"09:00\", \"duration_minutes\": 60, \"attendees\": [\"email\"], \"agenda\": \"agenda\" },\n  \"external_participants_detected\": true,\n  \"external_participants\": [\"Name (Company)\"],\n  \"risk_flags\": [\"risk\"]\n}"
        }
      },
      "id": "agent-001",
      "name": "Meeting Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [940, 300]
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "openai/gpt-4o", "mode": "id" },
        "options": { "temperature": 0.2 }
      },
      "id": "llm-001",
      "name": "OpenAI GPT4 (OpenRouter)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [780, 500],
      "credentials": {
        "openAiApi": { "id": "7wkvUA54dxB7iO6O", "name": "OpenRouter" }
      }
    },
    {
      "parameters": {
        "name": "check_blocker_history",
        "description": "Checks meeting history for recurring blockers. Pass JSON with topic (string).",
        "jsCode": "const input = $input.first().json;\nconst topic = (input.topic || input.query || '').toLowerCase();\nconst history = [\n  { date: '2026-04-15', topic: 'bosch api documentation', occurrences: 1, impact: 'Firmware integration blocked 2 weeks' },\n  { date: '2026-05-01', topic: 'bosch api documentation delay', occurrences: 2, impact: 'Integration testing delayed, sprint missed' },\n  { date: '2026-04-08', topic: 'imu sensor calibration drift', occurrences: 1, impact: 'Precision targeting off by 3.1mm' },\n  { date: '2026-05-15', topic: 'sensor calibration imu drift', occurrences: 1, impact: 'Precision targeting off by 2.8mm' },\n  { date: '2026-05-20', topic: 'power consumption regression', occurrences: 1, impact: 'Build 2.3 exceeded 280W power budget' }\n];\nconst matches = history.filter(h => topic.split(' ').some(w => w.length > 3 && h.topic.includes(w)));\nif (matches.length > 0) {\n  const total = matches.reduce((s, m) => s + m.occurrences, 0) + 1;\n  return JSON.stringify({ is_recurring: true, total_occurrences: total, first_seen: matches[matches.length-1].date, last_seen: matches[0].date, pattern: 'RECURRING BLOCKER seen ' + total + ' times', historical_impact: matches.map(m => m.impact).join(' | '), recommendation: 'Escalation recommended' });\n}\nreturn JSON.stringify({ is_recurring: false, total_occurrences: 1, pattern: 'First occurrence', recommendation: 'Monitor' });"
      },
      "id": "tool-001",
      "name": "Check Blocker History",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [800, 660]
    },
    {
      "parameters": {
        "name": "schedule_followup_meeting",
        "description": "Queues a follow-up meeting for scheduling. Pass: title, start_datetime (ISO), end_datetime (ISO), agenda.",
        "jsCode": "const raw = $input.first().json;\nconst d = typeof raw === 'string' ? JSON.parse(raw) : raw;\nreturn JSON.stringify({ success: true, status: 'Meeting queued: ' + (d.title || 'Follow-up') + ' on ' + (d.start_datetime || 'TBD'), note: 'Will be created after human approval' });"
      },
      "id": "tool-002",
      "name": "schedule_followup_meeting",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [980, 660]
    },
    {
      "parameters": {
        "name": "send_action_email",
        "description": "Queues an action item email. Pass: recipient_name, recipient_email, task, deadline, priority, meeting_title, follow_up_date, depends_on.",
        "jsCode": "const raw = $input.first().json;\nconst d = typeof raw === 'string' ? JSON.parse(raw) : raw;\nreturn JSON.stringify({ success: true, status: 'Email queued for ' + (d.recipient_name || 'team member'), note: 'Will be sent after human approval' });"
      },
      "id": "tool-003",
      "name": "send_action_email",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [1160, 660]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '';\nlet parsed;\ntry {\n  let text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  text = text.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  const start = text.indexOf('{'); const end = text.lastIndexOf('}');\n  if (start !== -1 && end > start) { parsed = JSON.parse(text.slice(start, end + 1)); }\n  else { throw new Error('No JSON found'); }\n} catch(e) {\n  parsed = { meeting_summary: 'Parse error', action_items: [], external_participants_detected: false, blockers: [], follow_up_meeting: null, risk_flags: ['Parse error: ' + e.message] };\n}\nreturn [{ json: parsed }];"
      },
      "id": "parse-001",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.action_items || [];\nconst followup = data.follow_up_meeting || null;\nconst externals = data.external_participants || [];\nconst hasExternal = data.external_participants_detected;\nconst blockers = (data.blockers || []).filter(b => b.is_recurring);\nconst risks = data.risk_flags || [];\nconst rawApprove = $execution.resumeUrl + '?approved=true';\nconst rawReject = $execution.resumeUrl + '?approved=false';\nconst resumeUrl = 'http://localhost:8080?action=approve&n8n=' + encodeURIComponent(rawApprove);\nconst rejectUrl = 'http://localhost:8080?action=reject&n8n=' + encodeURIComponent(rawReject);\n// Raw URLs exposed for the web demo page to call directly\nconst n8nApproveUrl = rawApprove;\nconst n8nRejectUrl = rawReject;\n\n// Priority colours\nconst priorityColour = { critical: '#dc3545', high: '#fd7e14', medium: '#ffc107', low: '#6c757d' };\n\n// Build action items HTML\nlet itemsHtml = '';\nitems.forEach((item, i) => {\n  const isExt = externals.some(e => e.toLowerCase().includes(item.owner_name.toLowerCase().split(' ')[0]));\n  const pColour = priorityColour[item.priority] || '#6c757d';\n  itemsHtml += '<div style=\"border:1px solid #e0e0e0;border-radius:6px;padding:12px;margin:6px 0;background:#fafafa\">';\n  itemsHtml += '<p style=\"margin:0 0 4px 0\"><b>Email ' + (i+1) + ' &rarr; ' + item.owner_name + '</b>';\n  if (isExt) itemsHtml += ' <span style=\"background:#dc3545;color:white;font-size:11px;padding:2px 6px;border-radius:3px\">EXTERNAL</span>';\n  itemsHtml += '</p>';\n  itemsHtml += '<p style=\"margin:0 0 4px 0;color:#555;font-size:13px\">' + item.owner_email + '</p>';\n  itemsHtml += '<p style=\"margin:0 0 4px 0\"><b>Task:</b> ' + item.task + '</p>';\n  itemsHtml += '<p style=\"margin:0\"><b>Deadline:</b> ' + item.deadline + ' &nbsp; <b style=\"color:' + pColour + '\">Priority: ' + item.priority.toUpperCase() + '</b>';\n  if (item.depends_on) itemsHtml += ' &nbsp; <span style=\"color:#666\">Depends on: ' + item.depends_on + '</span>';\n  itemsHtml += '</p></div>';\n});\n\n// Follow-up meeting HTML\nlet meetingHtml = '';\nif (followup) {\n  meetingHtml = '<div style=\"border:1px solid #0d6efd;border-radius:6px;padding:12px;margin:6px 0;background:#f0f4ff\">';\n  meetingHtml += '<p style=\"margin:0 0 4px 0\"><b>Teams Meeting: ' + followup.title + '</b></p>';\n  meetingHtml += '<p style=\"margin:0 0 4px 0\">Date: <b>' + followup.date + ' at ' + followup.time + '</b> (' + followup.duration_minutes + ' min)</p>';\n  meetingHtml += '<p style=\"margin:0\">Agenda: ' + followup.agenda + '</p>';\n  meetingHtml += '</div>';\n}\n\n// Blockers HTML\nlet blockersHtml = '';\nif (blockers.length > 0) {\n  blockersHtml = '<h4 style=\"color:#dc3545\">Recurring Blockers Detected</h4>';\n  blockers.forEach(b => {\n    blockersHtml += '<p style=\"margin:4px 0\">&#8226; <b>' + b.description + '</b> (seen ' + b.occurrences + ' times) &mdash; owner: ' + b.owner + '</p>';\n  });\n}\n\n// Risk flags HTML\nlet risksHtml = '';\nif (risks.length > 0) {\n  risksHtml = '<h4 style=\"color:#fd7e14\">Risk Flags</h4>';\n  risks.forEach(r => { risksHtml += '<p style=\"margin:4px 0\">&#8226; ' + r + '</p>'; });\n}\n\n// External warning banner\nlet warningHtml = '';\nif (hasExternal) {\n  warningHtml = '<div style=\"background:#fff3cd;border:1px solid #ffc107;border-radius:6px;padding:12px;margin-bottom:16px\">';\n  warningHtml += '<b>External participants detected:</b> ' + externals.join(', ') + '<br>';\n  warningHtml += '<span style=\"font-size:13px\">These individuals will receive action item emails if you approve.</span>';\n  warningHtml += '</div>';\n}\n\n// Full email\nlet html = '<div style=\"font-family:Arial,sans-serif;max-width:640px;color:#1a1a1a\">';\nhtml += '<h2 style=\"color:#1a1a2e;margin-bottom:4px\">NEURA AI Meeting Agent</h2>';\nhtml += '<h3 style=\"color:#e63946;margin-top:0\">Review &amp; Approve Before Sending</h3>';\nhtml += warningHtml;\nhtml += '<h4 style=\"border-bottom:1px solid #e0e0e0;padding-bottom:6px\">Meeting Summary</h4>';\nhtml += '<p>' + (data.meeting_summary || '') + '</p>';\nhtml += '<h4 style=\"border-bottom:1px solid #e0e0e0;padding-bottom:6px\">Action Emails to Send (' + items.length + ')</h4>';\nhtml += itemsHtml;\nif (meetingHtml) {\n  html += '<h4 style=\"border-bottom:1px solid #e0e0e0;padding-bottom:6px\">Teams Meeting to Create</h4>';\n  html += meetingHtml;\n}\nif (blockersHtml) html += blockersHtml;\nif (risksHtml) html += risksHtml;\nhtml += '<br><hr style=\"border:none;border-top:1px solid #e0e0e0\">';\nhtml += '<p><b>If you approve:</b> ' + items.length + ' personalised emails will be sent and the Teams meeting will be created — all in the next 10 seconds.</p>';\nhtml += '<table style=\"margin-top:12px\"><tr>';\nhtml += '<td><a href=\"' + resumeUrl + '\" style=\"background:#28a745;color:white;padding:14px 36px;text-decoration:none;border-radius:6px;font-size:16px;font-weight:bold;display:inline-block\">Approve &amp; Send All</a></td>';\nhtml += '<td style=\"width:16px\"></td>';\nhtml += '<td><a href=\"' + rejectUrl + '\" style=\"background:#dc3545;color:white;padding:14px 36px;text-decoration:none;border-radius:6px;font-size:16px;font-weight:bold;display:inline-block\">Reject</a></td>';\nhtml += '</tr></table>';\nhtml += '<br><hr style=\"border:none;border-top:1px solid #e0e0e0\"><p style=\"color:#999;font-size:12px\"><i>NEURA AI Meeting Agent | Powered by Futurice</i></p>';\nhtml += '</div>';\n\nconst subject = '[Review Required] ' + items.length + ' action items from: ' + (data.meeting_summary ? data.meeting_summary.split('.')[0] : 'Meeting') + (hasExternal ? ' — External participants detected' : '');\n\nreturn [{ json: { subject, html, resume_url: resumeUrl, reject_url: rejectUrl, n8n_approve_url: n8nApproveUrl, n8n_reject_url: n8nRejectUrl, item_count: items.length, action_items: items, follow_up_meeting: followup, meeting_summary: data.meeting_summary, external_participants: externals, has_external: hasExternal } }];"
      },
      "id": "build-approval-001",
      "name": "Build Approval Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8080/hitl",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(({approve_url: $json.n8n_approve_url, reject_url: $json.n8n_reject_url, meeting_summary: $json.meeting_summary, action_items: $json.action_items, follow_up_meeting: $json.follow_up_meeting, external_participants: $json.external_participants, has_external: $json.has_external, item_count: $json.item_count})) }}",
        "options": {}
      },
      "id": "notify-demo-001",
      "name": "Notify Demo Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/sendMail",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({message: {subject: $json.subject, body: {contentType: 'HTML', content: $json.html}, toRecipients: [{emailAddress: {address: 'AncyJoseph@Fututrice.onmicrosoft.com'} }], importance: 'high'}, saveToSentItems: true}) }}",
        "options": {}
      },
      "id": "send-approval-001",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 300],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "JpJTuimza9Db1j6c",
          "name": "Futurice M365"
        }
      }
    },
    {
      "parameters": { "resume": "webhook", "options": {} },
      "id": "wait-001",
      "name": "Wait for Human Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1860, 300],
      "webhookId": "hitl-neura-demo-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [{ "id": "cond-approved-001", "leftValue": "={{ $json.query.approved }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-approved-001",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [2080, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Agent Output').item.json;\nconst items = data.action_items || [];\nif (items.length === 0) return [{ json: { status: 'no_items' } }];\nreturn items.map(item => ({ json: item }));"
      },
      "id": "split-001",
      "name": "Split Action Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/sendMail",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({message: {subject: '[Action Required] ' + $json.task + ' - due ' + $json.deadline, body: {contentType: 'Text', content: 'Hi ' + $json.owner_name + ',\\n\\nFollowing the NEURA Robot Arm Integration Sync, you have been assigned:\\n\\nTask: ' + $json.task + '\\nDeadline: ' + $json.deadline + '\\nPriority: ' + ($json.priority || 'medium').toUpperCase() + '\\nDepends on: ' + ($json.depends_on || 'None') + '\\n\\nA follow-up review is scheduled for ' + ($('Parse Agent Output').item.json.follow_up_meeting ? $('Parse Agent Output').item.json.follow_up_meeting.date : 'TBD') + '.\\n\\nPlease confirm receipt.\\n\\n- NEURA AI Meeting Agent\\nPowered by Futurice\\n\\n[DEMO] Intended for: ' + $json.owner_email}, toRecipients: [{emailAddress: {address: 'AncyJoseph@Fututrice.onmicrosoft.com'} }], importance: 'high'}, saveToSentItems: true}) }}",
        "options": {}
      },
      "id": "email-http-001",
      "name": "Send Action Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2520, 220],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "JpJTuimza9Db1j6c",
          "name": "Futurice M365"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/onlineMeetings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({subject: $('Parse Agent Output').item.json.follow_up_meeting ? $('Parse Agent Output').item.json.follow_up_meeting.title : 'Integration Review Follow-up', startDateTime: ($('Parse Agent Output').item.json.follow_up_meeting ? $('Parse Agent Output').item.json.follow_up_meeting.date : '2026-06-13') + 'T09:00:00.0000000Z', endDateTime: ($('Parse Agent Output').item.json.follow_up_meeting ? $('Parse Agent Output').item.json.follow_up_meeting.date : '2026-06-13') + 'T10:00:00.0000000Z'}) }}",
        "options": {}
      },
      "id": "teams-meeting-001",
      "name": "Create Teams Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 380],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "JpJTuimza9Db1j6c",
          "name": "Futurice M365"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/calendar/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({subject: $('Parse Agent Output').item.json.follow_up_meeting ? $('Parse Agent Output').item.json.follow_up_meeting.title : 'Integration Review Follow-up', start: {dateTime: ($('Parse Agent Output').item.json.follow_up_meeting ? $('Parse Agent Output').item.json.follow_up_meeting.date : '2026-06-13') + 'T09:00:00', timeZone: 'UTC'}, end: {dateTime: ($('Parse Agent Output').item.json.follow_up_meeting ? $('Parse Agent Output').item.json.follow_up_meeting.date : '2026-06-13') + 'T10:00:00', timeZone: 'UTC'}, body: {contentType: 'HTML', content: '<b>Agenda:</b> ' + ($('Parse Agent Output').item.json.follow_up_meeting ? $('Parse Agent Output').item.json.follow_up_meeting.agenda : 'Review progress') + '<br><br><b>Join Microsoft Teams Meeting:</b><br><a href=\"' + ($json.joinWebUrl || 'link-pending') + '\">Click here to join</a><br><br><i>Scheduled by NEURA AI Meeting Agent | Powered by Futurice</i>'}, attendees: [{emailAddress: {address: 'AncyJoseph@Fututrice.onmicrosoft.com'}, type: 'required'}]}) }}",
        "options": {}
      },
      "id": "calendar-http-001",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2520, 380],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "JpJTuimza9Db1j6c",
          "name": "Futurice M365"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "ok1", "name": "status", "value": "COMPLETED", "type": "string" },
            { "id": "ok2", "name": "actions_taken", "value": "Emails sent to Fututrice inbox\nCalendar event created\nTeams meeting link generated", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "done-001",
      "name": "Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2740, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "r1", "name": "status", "value": "REJECTED — nothing sent", "type": "string" },
            { "id": "r2", "name": "message", "value": "Human rejected. No emails sent, no calendar event created.", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "rejected-001",
      "name": "Distribution Rejected",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2300, 480]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Agent Output').item.json;\nconst items = data.action_items || [];\nconst followup = data.follow_up_meeting || null;\nconst followupDate = followup ? followup.date + ' at ' + followup.time : 'TBD';\nconst actionEmails = items.map((item, i) => ({\n  email_number: i + 1,\n  type: 'Action Item Email',\n  to: item.owner_email,\n  recipient: item.owner_name,\n  subject: '[Action Required] ' + item.task + ' due ' + item.deadline,\n  priority: item.priority,\n  depends_on: item.depends_on\n}));\nconst inviteEmail = followup ? {\n  email_number: items.length + 1,\n  type: 'Follow-up Meeting Invite',\n  title: followup.title,\n  date: followup.date + ' at ' + followup.time,\n  agenda: followup.agenda,\n  attendees: followup.attendees\n} : null;\nconst all = inviteEmail ? [...actionEmails, inviteEmail] : actionEmails;\nreturn all.map(e => ({ json: e }));"
      },
      "id": "email-drafts-001",
      "name": "Email Drafts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 480]
    }
  ],
  "connections": {
    "Run Demo": {
      "main": [[{ "node": "Sample Meeting Data", "type": "main", "index": 0 }]]
    },
    "Web Demo Trigger": {
      "main": [[{ "node": "Sample Meeting Data", "type": "main", "index": 0 }]]
    },
    "Sample Meeting Data": {
      "main": [[{ "node": "Meeting Agent", "type": "main", "index": 0 }]]
    },
    "Meeting Agent": {
      "main": [[{ "node": "Parse Agent Output", "type": "main", "index": 0 }]]
    },
    "OpenAI GPT4 (OpenRouter)": {
      "ai_languageModel": [[{ "node": "Meeting Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Check Blocker History": {
      "ai_tool": [[{ "node": "Meeting Agent", "type": "ai_tool", "index": 0 }]]
    },
    "schedule_followup_meeting": {
      "ai_tool": [[{ "node": "Meeting Agent", "type": "ai_tool", "index": 0 }]]
    },
    "send_action_email": {
      "ai_tool": [[{ "node": "Meeting Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Parse Agent Output": {
      "main": [
        [
          { "node": "Build Approval Email", "type": "main", "index": 0 },
          { "node": "Email Drafts", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Approval Email": {
      "main": [[{ "node": "Notify Demo Page", "type": "main", "index": 0 }]]
    },
    "Notify Demo Page": {
      "main": [[{ "node": "Send Approval Email", "type": "main", "index": 0 }]]
    },
    "Send Approval Email": {
      "main": [[{ "node": "Wait for Human Approval", "type": "main", "index": 0 }]]
    },
    "Wait for Human Approval": {
      "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]]
    },
    "Approved?": {
      "main": [
        [
          { "node": "Split Action Items", "type": "main", "index": 0 },
          { "node": "Create Teams Meeting", "type": "main", "index": 0 }
        ],
        [{ "node": "Distribution Rejected", "type": "main", "index": 0 }]
      ]
    },
    "Split Action Items": {
      "main": [[{ "node": "Send Action Emails", "type": "main", "index": 0 }]]
    },
    "Create Teams Meeting": {
      "main": [[{ "node": "Create Calendar Event", "type": "main", "index": 0 }]]
    },
    "Send Action Emails": {
      "main": [[{ "node": "Done", "type": "main", "index": 0 }]]
    },
    "Create Calendar Event": {
      "main": [[{ "node": "Done", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
